<p>
  <strong>Lake area</strong>
  <%= @lake.area %>
</p>
<p>
  <strong>distance</strong>
  <%= @lake.distance %>
</p>
<p>
  <strong>location</strong>
  <%=  @lake.location %>
</p>

<%= link_to 'Edit', edit_lake_path(@lake) %>
<%= link_to 'Back to Listing', lakes_path %>

